<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">

    <h3>Edit Listing</h3>

<form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      id="title"
      name="listing[title]"
      type="text"
      class="form-control"
      value="<%= listing.title %>">
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      id="description"
      name="listing[description]"
      class="form-control"><%= listing.description %></textarea>
  </div>


  <div class="mb-3">
    Original Listing Image 
    <br>
    <img src="<%= originalImageUrl %>">
  </div>


  <div class="mb-3">
    <label for="image" class="form-label">Upload New Image</label>
    <input
      id="image"
      name="listing[image]"
      type="file"
      class="form-control">
  </div>

  <div class="row">

<div class="mb-3 col-md-4">
    <label for="price" class="form-label">Price</label>
    <input
      id="price"
      name="listing[price]"
      type="number"
      class="form-control"
      value="<%= listing.price %>">
  </div>

  <div class="mb-3 col-md-8">
    <label for="country" class="form-label">Country</label>
    <input
      id="country"
      name="listing[country]"
      type="text"
      class="form-control"
      value="<%= listing.country %>">
  </div>

  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input
      id="location"
      name="listing[location]"
      type="text"
      class="form-control"
      value="<%= listing.location %>">
  </div>

  <button class="btn btn-dark edit-btn mt-3">Edit</button>
</form>


  </div>
</div>

